body{
    background-image: url('https://bit.ly/39fjZ5L');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: large;
}
nav{
    text-align: right;
    background-color: whitesmoke;
    border-radius: 10px;
    display: inline-block;
    width:100%;
    height:50px;
}
nav>ul>li>a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding:15px;
}
ul>li{
    display: inline-block;

}
#h3{
    color: blue;
    text-align: center;
    
}
#ul{
    background-color: grey;
    width:330px;
    height: 90px;
    border-radius: 6px;
    margin-left: 450px;
    padding-top: 15px;
}
#me{
    text-align: center;
    color: blue;
}
#him{
    text-align: center;
    color:blue;
}
#image{
    margin-left: 390px;

}
#work{
    color: blue;
    text-align: center;
}
#I{
    background-color: grey;
    width: 330px;
    height: 90px;
    border-radius: 6px;
    margin-left: 450px;
    padding: 25px;
    padding-bottom: 10px;
}
#reason{
    color: blue;
    text-align: center;
}
#the{
    background-color: grey;
    width: 330px;
    height: 110px;
    border-radius: 6px;
    margin-left: 450px;
    padding: 25px;
}
#intrest{
    color: blue;
    text-align: center;
}
#am{
    background-color: grey;
    width: 330px;
    height: 130px;
    border-radius: 6px;
    margin-left: 450px;
    padding: 25px;
}
#skill{
    color: blue;
    text-align: center;
}
#here{
    background-color: grey;
    width: 330px;
    height:90px;
    border-radius: 6px;
    margin-left: 450px;

}
